# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env
*.env

# Flask & Database
instance/
*.db
*.sqlite
*.sqlite3

# IDEs
.idea/
.vscode/
.DS_Store

# Logs
*.log
